<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./static/styles/main.css" />
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>Aboutdd</h1>
        </div>
    </div>
</body>
</html>