<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account - Car Rental</title>
    <link rel="stylesheet" href="./static/styles/main.css" />
</head>
<body>
    <div id="app">
        <div class="container">
            <%- include('../partials/basic/navbar') %>
            <main>
                <section id="content" class="animate__animated animate__fadeIn">
                    <h1>Account</h1>
                    <p>
                        <%= user.Email %>
                    </p>
                    <button type="button" id="button__logout">Logout</button>
                </section>
            </main>
        </div>
    </div>
    <%- include('../partials/basic/footer') %>
    <script>
        (function() {
            const buttonLogoutElement = document.getElementById('button__logout');
            buttonLogoutElement.addEventListener('click', function(e){
                window.location.href = '/logout';
                e.stopPropagation();
            })
        })();
    </script>
</body>
</html>
