<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/basic/header',{ title: 'Car Rental - Home'}) %>
</head>
<body>
    <div id="app">
        <div class="container">
            <%- include('../partials/basic/navbar') %>
            <main>
                <section id="content" class="animate__animated animate__fadeIn">
                    <div class="books">
                        <% cars.forEach(function(car) { %>
                            <article class="books__item">
                                <div class="books__item-header">
                                    <div class="books__item-cover"></div>
                                </div>
                                <div class="books__item-description">
                                    <div class="books__item-rating">
                                        Rp. <%= car.Price %>
                                    </div>
                                    <div class="books__item-caption">
                                        <div class="books__item-caption-title">
                                            <%= car.PoliceNumber %>
                                        </div>
                                        <div>
                                            <%= car.Inventory.Brand %>
                                            <%= car.Inventory.Variant %>
                                        </div>
                                        <div class="books__item-actions">
                                            <a href="#" role="button" class="books__item-borrow-button">
                                                Rent now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        <% }); %>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <%= include('../partials/basic/footer') %>
    <!-- <script>
        (async function() {
            const response = await fetch('/api/books');
            const data = await response.json();
            console.log('data books :: ', data);
        })();
    </script> -->
</body>
</html>