<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/basic/header', {title: 'Car Rental - Login'}) %>
</head>
<body>
    <div id="app">
        <div class="container">
            <%- include('../partials/basic/navbar') %>
            <main>
                <section id="content" class="animate__animated animate__fadeIn">
                    <form class="form w-30 margin-auto" method="post" action="/login">
                        <input type="hidden" name="csrf_token" value="<%=csrfToken%>" />
                        <div class="form__title">
                            <h1>Login</h1>
                        </div>
                        <% if (message !== '') { %>
                            <div class="form__message <%= type %>">
                                <div class="form__message-content">
                                    <p>
                                        <%- message %>
                                    </p>
                                </div>
                            </div>
                        <% } %>
                        <div class="form__group">
                            <label for="username">Username</label>
                            <input class="form__control" name="username" placeholder="Type your username" />
                        </div>
                        <div class="form__group">
                            <label for="password">Password</label>
                            <input type="password" class="form__control" name="password" placeholder="Type your password" />
                        </div>
                        <div class="form__group">
                            <button type="submit" class="button-primary button__block">Login</button>
                        </div>
                    </form>
                </section>
            </main>
        </div>
    </div>
    <%- include('../partials/basic/footer') %>
</body>
</html>
